/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/04/2019, 10:38:44
    Author     : Juan
*/

@charset "UTF-8";

@import url(//db.onlinewebfonts.com/c/e3fa0a3b67fc55d6216bd5b6db9a7e20?family=Nanami);

*, html, body{
    font-family: Nanami;
}

/* Tags Editing */

body{
    width: 100%;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 20pt;
    vertical-align: middle;
}

h3{
    text-align: center;
    font-size: 15pt;
}

p{
    font-size: 15pt;
}

/* ID Editing */

#title-div{
    text-align: center;
    margin: auto;
    align-content: space-between;
    max-width: 300px;
}

#img-title{
    max-width: 170px;
    width: 30%;
    text-align: right;
}

#title{
    text-align: left;
    /* border-bottom: 2px solid #94572E; */
    border-bottom: 2px solid #196B19;
    padding: 0 20px;
    /* border-bottom: 2px solid #704021; */
}

#temperature-div{
    grid-row-start: 1;
    grid-row-end: 3;
    width: 205px;
}

#temperature-content{
    border-radius: 10px;
    width: 200px;
    height: 350px;
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    z-index: -10;
}

#system-info{
    margin: 5% auto;
}

#buttons button{
    /* background-color: #704021 !important; */
    background-color: #196B19 !important;
    color: white !important;
    /* border: 3px dotted #94572E !important; */
    border: 3px dotted #29539F !important;
    margin-bottom: 10px;
}

/* Class Editing */

/* Flex Container */

.hidden{
    display: none;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 100%;
}

.flex-row{
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column{
    flex-direction:column;
    flex-wrap: nowrap;
}

.flex-item{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    min-height: max-content;
}

/* /////////////////////// */

/* Grid Container */

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 100%;
}

.grid-item{
    text-align: center;
    width: 100%;
}

/* ////////////////////////// */

.content-div{
    /* border: 2px ridge #94572E; */
    border: 2px ridge #196B19;
    border-radius: 20px;
    padding: 0px;
}

.content-div h3{
    min-width: 100%;
    /* background-color: #704021; */
    background-color: #196B19;
    color: white !important;
    border-radius: 15px 15px 0px 0px;
    padding: 10px 20px;
}

.content-div p{
    padding: 0 20px;
}

.resetZoom{
    font-style: italic;
    text-align: center;
    color: black;
    text-decoration: none;
}

.resetZoom:hover{
    cursor: zoom-out;
    color: red !important;
}

/* ////////////////////////////////// */

/* Media queries */

@media only screen and (max-width: 991px){
    .grid-container{
        grid-template-columns: auto auto;
    }
    #temperature-div{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #info1_div{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #info2_div{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

}

@media only screen and (max-width: 575px){
    #info1_div{
        order: 1;
    }
    #temperature-div{
        order: 2;
    }
    #info2_div{
        order: 3;
    }
}